#articles
{
    width: 100%;
    font-size: 16px;
    margin: auto;
    padding: 0;
    margin-top: 32px;
    box-shadow: 12px 12px 7px #888888;
}

#articles #header
{
    color: yellow;
    background-color: crimson;
    text-align: center;
}

#loading
{
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
}

a:hover
{
    text-decoration: none;
}

#articles .row
{
    margin: 0px;
    color: black;
    font-weight: bold;
    padding: 4px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -1px;
}

#articles .row:hover
{
    background-color: lightgray;
    transition-duration: .33s;
    color: black;
}

.tier
{
    text-align: center;
}