.dex
{
   padding: 32px;
   text-align: center;
   overflow-x: scroll;
   max-width: 100%;
}

body {
    max-width: 100%;
}

#search
{
    padding: 16px 0px 16px 0px;
    margin: 0px;
    background-color: white;
    color: black;
    text-align: center;

}

.dex table
{
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 32px;
    font-size: 15px;
    box-shadow: 12px 12px 7px #888888;
}

.dex table td, .dex table, .dex table th
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.dex table th
{
    color: white;
    padding: 5px 7px 5px 7px;
    text-align: center;
}

.dex table td
{
    padding: 0px 6px 0px 6px;
    font-weight: bold;
    color: black;
    max-width: 600px;
    height: 32px; 
    max-height: 32px; 
    vertical-align: center;
    font-size: 15px;
}

.dex table td a
{
    text-decoration: none;
    color: black;
    max-height: 32px; 
    min-height: 32px; 
    vertical-align: middle;
}

.dex table th, .dex table td
{
    text-align: center;
}

.dex th
{
    background-color: crimson;
}

.dex table.rby th, .dex .rby1u th
{
    background-color: crimson;
}

.dex table.violet th
{
    background-color: violet;
}

td.Fire 
{
    background-color: #f08030;
}

td.Water 
{
    background-color: #6890f0;
}

td.Normal  
{
    background-color: #a8a878;
}

td.Flying  
{
    background-color: #a890f0;
}

td.Electric 
{
    background-color: #f8d030;
}

td.Ice 
{
    background-color: #98d8d8;
}

td.Poison 
{
    background-color: #a040a0;
}

td.Fighting 
{
    background-color: #c03028;
}

td.Bug 
{
    background-color: #a8b820;
}

td.Psychic 
{
    background-color: #f85888;
}

td.Dark 
{
    background-color: #705848;
}

td.Grass
{
    background-color: #78c850;
}

td.Ghost 
{
    background-color: #705898;
}

td.Ground 
{
    background-color: #e0c068;
}

td.Rock
{
    background-color: #b8a038;
}

td.Steel 
{
    background-color: #b8b8d0;
}

td.Dragon 
{
    background-color: #7038f8;
}


