@font-face {
    font-family: "pokeH";
    src: url("../miscAssets/fonts/PokemonHollow.ttf");
    font-family: "pokeS";
    src: url("../miscAssets/fonts/PokemonSolid.ttf");
}

.navbar .navbar-brand
{
    font-family: "pokeS";
    color: yellow;
    text-decoration: none;
}

.navbar .navbar-brand:hover
{
    color: yellow;
}

#brand
{
    color: yellow;
}

.navbar-nav .nav-item .nav-link
{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:visited
{
    color:white;
}

.navbar-nav .nav-item .nav-link:active
{
    color:yellow;
}

.navbar-nav .nav-item .nav-link:focus
{
    color:yellow;
}

.navbar-nav .nav-item .nav-link:hover
{
    color:yellow;
}

#nav
{
    background-color: crimson !important;
}

.navbar-light .navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler
{
    border: none;
}

.navbar-light .navbar-toggler:focus
{
    border: none;
    outline: none;
    background-image: none;
}

#navLogo
{
    text-align: center;
    background-color: crimson;
}

#navLogo img
{
    width: 14%;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item
{
    color: yellow;
    font-weight: bold;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover
{
    color: yellow;
    background-color: darkred;
    font-weight: bold;
}

.navbar-nav .nav-item .dropdown-menu
{
    background-color: crimson;
}
