body 
{
    font-family: Arial;
    background-color: white;
}

h2 
{
    text-align: center;
}

/* Style the tab */
.tab 
{
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 960px;
    margin-top: 24px;
    margin-bottom: 20px;
    background-color: crimson;
    border-style: solid;
    border-width: 1px;
    border-color: crimson;
    border-radius: 50px;
    box-shadow: 12px 12px 7px #888888;
}

.tabfiller
{
    width: 100%;
}

/* Style the buttons inside the tab */
.tab button 
{
    font-size: 1.4 rem;
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: crimson;
    
    margin: 0;
    color: white;
    /* font-weight: bold; */
}

/* Change background color of buttons on hover */
.tab button:hover 
{
    background-color: darkred;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active 
{
    background-color: darkred;
    color: yellow;
}

/* Style the tab content */
.tabcontent 
{
    display: none;
    padding: 6px 6px;
    border-top: none;
    background-color: white;
    color:black;
    padding-top: 20px;
}

table 
{
    display: inline-block;
}

td:first-child, .stats td:nth-child(2)
{
    text-align: right;
}

.pokepanel td 
{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 12px;
}

td .tier
{
    margin: 4px;
}

.sprite 
{
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: 4px; 
    min-width: 198px;
    height: 198px;
    margin: 16px;
    background-color: #ddd; 
    image-rendering: crisp-edges;
}

.pokepanel
{
    display: flex;
    align-items: center;
    font-size: 16px;
}

#content
{
    text-align: center;
    background-color: white;
}

h2 
{
    font-weight: bold;
    font-size: 1.8rem;
}

.analysis
{
    background-color: rgb(250, 235, 239);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    padding: 24px;
    max-width: 960px;
    text-align: left;
    margin: auto;
    box-shadow: 12px 12px 7px #888888;
}

.analysis h1
{
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.3rem;
}

.analysis h2
{
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1rem;
}

.analysis h3
{
    text-align: left;
    text-decoration: underline;
    font-weight: normal;
    font-size: .9rem;
}

.analysis p
{
    font-size: .9rem;
}

.hidden
{
    display: none;
}

#om .analysis
{
    background-color: white;
    border-style: none;
    max-width: 960px;
    text-align: left;
    margin: auto;
    box-shadow: none;
}

#om .analysis .om
{
    background-color: rgb(250, 235, 239);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    padding: 24px;
    max-width: 960px;
    text-align: left;
    margin: 24px auto 24px auto;
    box-shadow: 12px 12px 7px #888888;
}

.container 
{
    text-align: center;
}