#main img 
{
    display: inline-block;
}

#main #teamsprites
{
    text-align: center;
}

#main #importable
{
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 15px;
    background-color: rgb(250, 235, 239);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
    display: none;
}

#main .button
{
    color: yellow;
    background-color: crimson;
    font-weight: bold;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    width: 165px;
}

#main .button:hover
{
    color: yellow;
    background-color: darkred;
    padding: 12px 12px;
    border: none;
}


